* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f9f4;
    display: flex;
}

.sidebar {
    height: 100%;
    background-color: #3b7d4f;
    /* forest green */
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem 2em 1.2em;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    color: #ffffff;
}

.sidebar h1 a {
    text-decoration: none;
    color: #ffffff;
}

.sidebar .items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar .items a {
    padding: 0.3rem;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: normal;
    border-radius: 0.5rem;
    transition: color 0.2s ease, background-color 0.2s ease, text-shadow 0.2s ease;
}

.sidebar .items a:hover {
    color: black;
    background-color: #d6f5dd;
    text-shadow:0px 15px 5px rgba(0,0,0,0.1),
                10px 20px 5px rgba(0,0,0,0.05),
                -10px 20px 5px rgba(0,0,0,0.05);
}

.main {
    margin-left: 250px;
    padding: 2rem;
    flex: 1;
}
.main h1 {
    margin-bottom: 1.5rem;
}