<html>
	<head>
		<link rel="stylesheet" href="/public/stylesheets/header.css" />
	</head>
	<body>
		<nav class="sidebar">
			<div class="profile">
				<img
					src="/public/images/blank_pfp.webp"
					alt="user profile picture"
					width="35px"
					height="35px"
				/>
			</div>
			<div class="items">
				<a href="/home" title="Home">
					<img
						src="/public/images/home.svg"
						alt="home icon"
						width="30px"
						height="30px"
					/>
				</a>
				<a href="/private/dash" title="Dashboard">
					<img
						src="/public/images/dash.svg"
						alt="dash icon"
						width="30px"
						height="30px"
					/>
				</a>
				<a href="/login" title="Login">
					<img
						src="/public/images/login.svg"
						alt="home icon"
						width="30px"
						height="30px"
					/>
				</a>
				<a href="/logout" title="Logout">
					<img
						src="/public/images/logout.svg"
						alt="home icon"
						width="30px"
						height="30px"
					/>
				</a>
				<a href="/register" title="Register">
					<img
						src="/public/images/register.svg"
						alt="home icon"
						width="30px"
						height="30px"
					/>
				</a>
				<a href="/about" title="About">
					<img
						src="/public/images/about.svg"
						alt="home icon"
						width="30px"
						height="30px"
					/>
				</a>
			</div>
		</nav>
	</body>
</html>
