<html>
    <head>
        <link rel="stylesheet" href="/public/stylesheets/header.css">
    </head>
    <body>
        <nav class="sidebar">
            <div class="profile">
                <img src="/public/images/blank_pfp.webp" alt="user profile picture" width="35px" height="35px">
            </div>
            <div class="items">
                <a href="/home">
                    <img src="/public/images/home.svg" alt="home icon" width="30px" height="30px">
                </a>
                <a href="/login">
                    <img src="/public/images/login.svg" alt="home icon" width="30px" height="30px">
                </a>
                <a href="/logout">
                    <img src="/public/images/logout.svg" alt="home icon" width="30px" height="30px">
                </a>
                <a href="/register">
                    <img src="/public/images/register.svg" alt="home icon" width="30px" height="30px">
                </a>
                <a href="/about">
                    <img src="/public/images/about.svg" alt="home icon" width="30px" height="30px">
                </a>
            </div>
        </nav>
    </body>
</html>