<html>
    <head>
        <link rel="stylesheet" href="/public/stylesheets/header.css">
    </head>
    <body>
        <nav class="sidebar">
            <h1>
                <a href="welcome">MoodDiary</a>
            </h1>
            <div class="items">
                <a href="/welcome">Welcome</a>
                <a href="/login">Login</a>
                <a href="/logout">Logout</a> 
                <a href="/register">Register</a>
                <a href="/about">About</a>
            </div>
        </nav>
    </body>
</html>