<%- include('header'); -%>
<html>
    <head>
        <title>
            MoodDiary - welcome
        </title>
    </head>
    <body>
        <div class="main">
            <h1>Welcome to MoodDiary</h1>
        </div>
    </body>
</html>